<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMap</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <header>
      <h1>WikiMap</h1>
      <form class="login">
        username: <input id="username" placeholder="username">
        password: <input id="password" placeholder="password">
        <input type="submit" value="Log In">
        or <a href="/">register here!</a>
      </form>
    </header>
    <div id="map"></div>
    <section class="maps">
      <h2>Available Maps</h2>
      <ul class='maplist'>
        <!-- <li data-mapid='2000001'>Burgers</li>
        <li data-mapid='2000002'>Mexican</li>
        <li data-mapid='2000003'>Bars</li>
        <li data-mapid='2000004'>Spas</li> -->
      </ul>
    </section>

    <section class='createmap'>
      <h3>Create a new map</h3>
      <form class='newmap'>
        <textarea name='mapname'></textarea>
        <input type="submit" value="Create Map!">
      </form>
    </section>

    </header>
    <div id="map"></div>
    <script type="text/javascript" src="/scripts/mapsHelper.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBJoDCLk9kLZT_vngLcbg6B_HI9tKdGdM&callback=initMap">
    </script>

  </body>
</html>
