body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

#map {
  height: 400px;
  width: 70%;
  margin-top: 20px;
  float: right;
}

.maps {

  h3 {
    margin-left: 20px;
  }

  h2 {
    margin: 20px;
  }
}

.icon {
  margin-left: 10px;
  color: hotpink;
}

