
body {
  background-color:lightsteelblue;
}
.row h3 {
color:white;
}
#map {
  height:700px;
  width: 70%;
  float: right;
  margin-top:42px;
}

.icon {
  margin-left: 10px;
  color: hotpink;
}
.icon:hover {
  color: red;
  font-size:20px;
}
.logout {
  background:ghostwhite;
}
.logout:hover {
  background-color:black;
  color:white;
}
.login-button {
  background:ghostwhite;
}
.login-button:hover {
  background-color:black;
  color:white;
}
.create-map-button {
  background-color:ghostwhite;
}
.create-map-button:hover {
  background-color:black;
  color:white;
}
.create-map-textarea {
  width:100%;
}
.maplist li:hover {
  background-color:aliceblue;

}
