body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

#map {
  height: 400px;
  width: 70%;
  margin-top: 20px;
  float: right;
}

.maplist {
  margin: 30px;
}

.icon {
  margin-left: 10px;
  color: hotpink;
}
