body {
  background-color: lightsteelblue;
}
h1 {
  color:white;
}
#map {
  height:700px;
  width: 70%;
  float: right;
  margin-top:40px;
}

.login {
    display: inline;
}

.maps h2 {
  margin: 20px;
}

.favmaps h2 {
  margin: 20px;
}
